{% extends 'awwards_users/base.html' %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-interval="3600000" data-ride="carousel">
    <div class="carousel-inner">
        {% for project in projects %}
        <div class="carousel-item {% if forloop.first %} active{% endif %}">
            <img src="{{ project.siteimage.url }}">
            <div class="carousel-caption">
                <div class="slide-project-name">
                  <h1>{{ project.sitename }}</h1>
                  <p>BY <span><a href="">{{project.profile |upper }}</a></span> FROM <span id="slide-country">{{ project.country |upper }}</span></p>
                </div>
                <div class="circle-progress">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="progress design" data-percent="1">
                                <div class="ss-progress">
                                    <div class="ss-progress-fill"></div>
                                </div>
                                <div class="ss-percent">
                                    <div class="ss-percent-wrapper">
                                        <span>0.00</span>
                                    </div>
                                </div>
                            </div>
                            <p>DESIGN</p>
                        </div>

                        <div class="col-md-2">
                            <div class="progress usability" data-percent="2.5">
                                <div class="ss-progress">
                                    <div class="ss-progress-fill"></div>
                                </div>
                                <div class="ss-percent">
                                    <div class="ss-percent-wrapper">
                                        <span>0.00</span>
                                    </div>
                                </div>
                            </div>
                            <p>USABILITY</p>
                        </div>

                        <div class="col-md-2">
                            <div class="progress creativity" data-percent="3">
                                <div class="ss-progress">
                                    <div class="ss-progress-fill"></div>
                                </div>
                                <div class="ss-percent">
                                    <div class="ss-percent-wrapper">
                                        <span>0.00</span>
                                    </div>
                                </div>
                            </div>
                            <p>CREATIVITY</p>
                        </div>

                        <div class="col-md-2">
                            <div class="progress content" data-percent="8">
                                <div class="ss-progress">
                                    <div class="ss-progress-fill"></div>
                                </div>
                                <div class="ss-percent">
                                    <div class="ss-percent-wrapper">
                                        <span>0.00</span>
                                    </div>
                                </div>
                            </div>
                            <p>CONTENT</p>
                        </div>
                    </div>
                </div>
                <div class="slide-visit-site">
                    <a href="{{ project.siteurl }}" target="_blank"><button>Visit Site</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="nominees">
        <h1>Nominees&nbsp;&nbsp;<span>We need your vote!</span></h1>
    </div>

    <div class="card-projects">
        {% for project in projects %}
        <div class="card img-wrapper" style="width: 22.5rem;">
            <a href="{% url 'post-detail' project.id %}"><img src="{{project.siteimage.url}}" class="card-img-top" alt="project-image" id="myImg"></a>
            <a href="{% url 'post-detail' project.id %}" class="vote-button">
                <div class="add-btn">
                    <button>VOTE NOW</button>
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post-detail' project.id %}">{{ project.sitename }}</a></h5>
                <p class="card-text">From {{ project.country }}</p><span>{{project.created | date:"F d, Y"}}</span>
                {% if project.profile == user.profile %}
                <a href="{% url 'user-detail'%}"><img src="/static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                        class="user">{{project.profile}}</span></a>
                {% else %}
                <a href="{% url 'user-details' project.profile%}"><img src="/static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                    class="user">{{project.profile}}</span></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}