<div class="navigation-bar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto main-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="font-size:15px; font-family:sans-serif;">HOME<span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown" style="font-size:15px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="color: black !important;" style="font-size:15px; font-family:sans-serif;">
                        CATEGORIES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Art</a>
                        <a class="dropdown-item" href="">Music</a>
                        <a class="dropdown-item" href="">Games</a>
                    </div>
                </li>
            </ul>
            <form class="search-form">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <a class="navbar-brand  mx-auto" href="/">
            <img src="/static/images/logo2.png" alt="logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown modal" aria-haspopup="true" aria-expanded="false" style="font-size: 15px; color: black !important;">
                        {{ user.username |upper }}&nbsp;<img src="{{ user.profile.image.url }}" alt="profile-photo">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user-details'%}">Profile</a>
                        <a class="dropdown-item" href="{% url 'profile-edit'%}">Settings</a>
                        <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item" style="padding-top: 5px;">
                    <a class="nav-link" href="{% url 'login'%}"
                        style="font-family:sans-serif; font-size:15px; color: black !important;">
                        REGISTER / LOG IN</a>
                </li>
                {% endif %}

                <li class="nav-item submit-your-site">
                    <a class="nav-link" href="{% url 'post-create'%}" style="font-family:sans-serif;">SUBMIT YOUR SITE!</a>
                </li>

            </ul>
        </div>
    </nav>
</div>