{% extends "awwards_users/base.html" %}

{% block content %}

<div class="container-fluid single-project-detail">
    <div class="row">
        <div class="col-md-12">
            <div class="project-card">
                <a href="{{ object.siteurl }}" target="_blank"><img src="{{ object.siteimage.url }}"
                        alt="project-image"></a>
                <a href=""><button>VOTE NOW</button></a>
                <h2 class="article-title">{{ object.sitename |title }}</h2>
                <p>by <a class="mr-2" href="">{{ object.profile }}</a>({{ object.country }})</p>
                <div class="description">
                    <span>{{ object.description }}</span>
                </div>
                <small>{{ object.created | date:"F d, Y" }}</small>
                {% if object.profile == user.profile %}
                <div class="update-delete-buttons">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id%}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id%}">Delete</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock %}