{%extends 'awwards_users/base.html'%}
{% block content %}


{% if q %}
<div class="category">
    <h1> {{ q |capfirst }} </h1>
    <p style="font-weight: bold; font-size: 20px;">
        {% with results.count as total_results %}
        Project {{ total_results }}
        {% endwith %}
    </p>
</div>

<div class="container-fluid search-projects">
    <div class="row">
        <div class="col-md-12">
            <div class="card-projects">
                {% for project in results %}
                <div class="card img-wrapper" style="width: 22.5rem;">
                    <a href="{% url 'post-detail' project.id %}"><img src="{{project.siteimage.url}}"
                            class="card-img-top" alt="project-image" id="myImg"></a>
                    <a href="{% url 'post-detail' project.id %}" class="vote-button">
                        <div class="add-btn">
                            <button>VOTE NOW</button>
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'post-detail' project.id %}">{{ project.sitename }}</a>
                        </h5>
                        <p class="card-text">From {{ project.country }}</p>
                        <span>{{project.created | date:"F d, Y"}}</span>
                        {% if project.profile == user.profile %}
                        <a href="{% url 'user-detail'%}"><img
                                src="/static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                                class="user">{{user.profile}}</span></a>
                        {% else %}
                        <a href="{% url 'user-details' project.profile%}"><img
                                src="/static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                                class="user">{{project.profile}}</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}

    <p>No results found</p>

    {% endfor %}
</div>

{% else %}

<p>No results found </p>
{% endif %}
{% endblock %}