{% extends 'awwards-users/base.html' %}

{% block content %}

<div class="front-cover">

</div>

<div class="container">
    <div class="nominees">
        <h1>Nominees&nbsp;&nbsp;<span>We need your vote!</span></h1>
    </div>

    <div class="card-projects">
        <div class="card" style="width: 23rem;">
            <img src="static/images/test.jpg" class="card-img-top" alt="project-image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 22.5rem;">
            <img src="static/images/test.jpg" class="card-img-top" alt="project-image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="static/images/test.jpg" class="card-img-top" alt="project-image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="static/images/test.jpg" class="card-img-top" alt="project-image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="static/images/test.jpg" class="card-img-top" alt="project-image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="static/images/test.jpg" class="card-img-top" alt="project-image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}