{% extends 'awwards-users/base.html' %}

{% block content %}

<div class="front-cover">

</div>

<div class="container">
    <div class="nominees">
        <h1>Nominees&nbsp;&nbsp;<span>We need your vote!</span></h1>
    </div>

    <div class="card-projects">
        <div class="card img-wrapper" style="width: 22.5rem;">
            <a href=""><img src="static/images/test.jpg" class="card-img-top" alt="project-image" id="myImg"></a>
            <a href="{{ photo.image.url }}" download="{{ photo.id }}" class="vote-button">
                <div class="add-btn" title="Download photo">
                    <button>VOTE NOW</button>
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">Facebook-clone</h5>
                <p class="card-text">From Kenya</p><span>November 28, 2020</span>
                <a href=""><img src="static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                        class="user">Andrew John</span></a>
            </div>
        </div>

        <div class="card img-wrapper" style="width: 22.5rem;">
            <a href=""><img src="static/images/test.jpg" class="card-img-top" alt="project-image" id="myImg"></a>
            <a href="{{ photo.image.url }}" download="{{ photo.id }}" class="vote-button">
                <div class="add-btn" title="Download photo">
                    <button>VOTE NOW</button>
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">Facebook-clone</h5>
                <p class="card-text">From Kenya</p><span>November 28, 2020</span>
                <a href=""><img src="static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                        class="user">Andrew John</span></a>
            </div>
        </div>

        <div class="card img-wrapper" style="width: 22.5rem;">
            <a href=""><img src="static/images/test.jpg" class="card-img-top" alt="project-image" id="myImg"></a>
            <a href="{{ photo.image.url }}" download="{{ photo.id }}" class="vote-button">
                <div class="add-btn" title="Download photo">
                    <button>VOTE NOW</button>
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">Facebook-clone</h5>
                <p class="card-text">From Kenya</p><span>November 28, 2020</span>
                <a href=""><img src="static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                        class="user">Andrew John</span></a>
            </div>
        </div>

        <div class="card img-wrapper" style="width: 22.5rem;">
            <a href=""><img src="static/images/test.jpg" class="card-img-top" alt="project-image" id="myImg"></a>
            <a href="{{ photo.image.url }}" download="{{ photo.id }}" class="vote-button">
                <div class="add-btn" title="Download photo">
                    <button>VOTE NOW</button>
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">Facebook-clone</h5>
                <p class="card-text">From Kenya</p><span>November 28, 2020</span>
                <a href=""><img src="static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                        class="user">Andrew John</span></a>
            </div>
        </div>

        <div class="card img-wrapper" style="width: 22.5rem;">
            <a href=""><img src="static/images/test.jpg" class="card-img-top" alt="project-image" id="myImg"></a>
            <a href="{{ photo.image.url }}" download="{{ photo.id }}" class="vote-button">
                <div class="add-btn" title="Download photo">
                    <button>VOTE NOW</button>
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">Facebook-clone</h5>
                <p class="card-text">From Kenya</p><span>November 28, 2020</span>
                <a href=""><img src="static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                        class="user">Andrew John</span></a>
            </div>
        </div>

        <div class="card img-wrapper" style="width: 22.5rem;">
            <a href=""><img src="static/images/test.jpg" class="card-img-top" alt="project-image" id="myImg"></a>
            <a href="{{ photo.image.url }}" download="{{ photo.id }}" class="vote-button">
                <div class="add-btn" title="Download photo">
                    <button>VOTE NOW</button>
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">Facebook-clone</h5>
                <p class="card-text">From Kenya</p><span>November 28, 2020</span>
                <a href=""><img src="static/images/default-avatar.jpg">&nbsp;&nbsp;BY&nbsp;&nbsp;<span
                        class="user">Andrew John</span></a>
            </div>
        </div>
    </div>
</div>
<div class="progress" data-percent="1">
	<div class="ss-progress">
		<div class="ss-progress-fill"></div>
	</div>
	<div class="ss-percent">
		<div class="ss-percent-wrapper">
			<span>%</span>
		</div>
	</div>
</div>

<div class="progress" data-percent="2.5">
	<div class="ss-progress">
		<div class="ss-progress-fill"></div>
	</div>
	<div class="ss-percent">
		<div class="ss-percent-wrapper">
			<span>%</span>
		</div>
	</div>
</div>

<div class="progress" data-percent="3">
	<div class="ss-progress">
		<div class="ss-progress-fill"></div>
	</div>
	<div class="ss-percent">
		<div class="ss-percent-wrapper">
			<span>%</span>
		</div>
	</div>
</div>

<div class="progress" data-percent="5">
	<div class="ss-progress">
		<div class="ss-progress-fill"></div>
	</div>
	<div class="ss-percent">
		<div class="ss-percent-wrapper">
			<span>%</span>
		</div>
	</div>
</div>
{% endblock %}